body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: .9em;
    margin: 0;
    padding: 0;
    color: antiquewhite;
    background-color: antiquewhite;
}
/*Navigation bar*/
#navbar{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 36px;
}
.logo-container{
    border: 4px solid black;
    background-color:antiquewhite;
    float:left;        
}
.logo{
    display: block;
    width: 28px;
    height: 28px;
}
.lang-container{
    float:right;    
}
.lang-flag{
    margin-top: 4px;
    width: 28px;
    height: 28px;
}
.lang-container>.material-symbols-outlined{
    font-size: 14px; 
    transform: translate(-4px, -4px);  
}
.nav-pages{
    width: max-content;    
    margin:auto;
}
.nav-pages>ul {
    margin:0;
    padding:0;        
}
li{
    display: block;
    float:left;
    padding-top: 11px;
    padding-bottom: 10px;
    box-sizing:border-box;/*Avoids movement on hovering*/
    width: 88px;
    text-align: center;    
}
li:hover{
    border: 1px solid antiquewhite;
    background-color: rgb(30, 30, 30);
    padding-top: 10px;/*Avoids movement on hovering*/
    padding-bottom: 9px;/*Avoids movement on hovering*/
}
.menu-container{
    display:none;
}
@media only screen and (max-width: 360px){
/*Navigation bar*/
    ul{
        display:none;
    }
    .lang-container{
        display:none;    
    }
    .menu-container{
        display: block;
        float:right;
    }
    .menu-container>.material-symbols-outlined{
        font-size: 36px;
    }
}
